* {
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

input {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
    width: 35px;
    height: 35px;
    opacity: 0;
}

input:checked + .menu span {
    position: absolute;
    transition: all 0.3s ease-in-out;
}

input:checked + .menu span:nth-child(2) {
   opacity: 0; 
}

input:checked + .menu span:nth-child(1) {
  transform: rotate(45deg);  
}

input:checked + .menu span:nth-child(3) {
    transform: rotate(-45deg);
}

input:hover + .menu span:nth-child(2) {

    left: 0;
    
    }

nav {
    position: fixed;
    text-align: right;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity 10s cubic-bezier(0.075, 0.82, 0.165, 1);
    visibility: hidden;
}

input:checked + .menu nav {
    visibility: visible;
    opacity: 1;
    background-color:rgba(255, 255, 255, 0.7);
    z-index: 0;   
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    text-align: center;
    text-transform: uppercase;
}

.menu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 4px 1px hsl(0, 1%, 75%);
        
}

button {
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: 0;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 2;
    pointer-events: none;
    cursor: pointer;
}

span {    
    height: 4px;
    display: block;
    margin-bottom: 3px;
}

button span {
    display: block;
    width: 25px;
    height: 4px;
    background-color: black;
    border-radius: 6px;
    margin-bottom: 4px;
    border: 0.5px solid white;    
}

button span:nth-child(2) {
    
    left: -3px;
    position: relative;
}
